src/main/java/com/epam/ae/entity/candyBox.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://example.com/candies"
            xmlns="http://example.com/candies">
    <xsd:include schemaLocation="Candy.xsd"/>
    
    <xsd:element name="candyBox" type="CandyList"/>
    <xsd:complexType name="CandyList">
        <xsd:sequence>
            <xsd:element name="candy" type="Candy" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>